* {
	font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
	font-size: 0.97em;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0 none;
	margin: 0;
	outline: 0 none;
	padding: 0;
	vertical-align: baseline;
}

li {
	list-style: none outside none;
}

a, a:visited {
	color: #C06514;
}

a, a:active, a:visited {
	color: #607890;
	text-decoration: none;
}

body {
	background: none repeat scroll 0 0 #333333;
	margin: 0;
}

div#header {
	position: relative;
	z-index: 3;
}

div#header h1 {
	margin: 0;
}

div#header h2 {
	font-size: 24px;
	text-align: center;
}

div#header h1 a {
	display: block;
	height: 78px;
	margin: 10px 0 10px 20px;
	text-indent: -9999px;
	width: 209px;
	position: absolute;
}

#site {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
	margin: 0 auto;
	position: relative;
	width: 980px;
	background: #E2E2E2;
}

#allChecks {
	width: 960px;
	border: 1px solid black;
	border-collapse: collapse;
	margin: 10px;
}

#allChecks td {
	width: 50%;
	border: 1px solid black;
	padding: 5px;
}

div.check {
	padding: 10px;
}

.section, .passed, .error {
	font-size: 1.2em;
	font-weight: bold;
}

.type {
	font-size: 14px;
	font-weight: bold;
}

.passed {
	color: green;
}

.error {
	color: red;
}

div#footer {
	background: none repeat scroll 0 0 #202020;
	padding: 0 1% 18px;
	position: relative;
}

div#legal {
	color: #565656;
	padding: 8px 0;
	text-transform: uppercase;
}

div#curse-network {
	margin-bottom: 36px;
	padding-left: 27.55%;
}

div#curse-network ul {
	padding-bottom: 8px;
}

div#curse-network h6, div#curse-network li, div#curse-info li {
	display: inline;
	font-weight: normal;
}

div#curse-network h6:after {
	content: " -";
}

div#curse-network h6, div#curse-network li, div#curse-info li {
	display: inline;
	font-weight: normal;
}

div#curse-network h6 {
	color: #AFAEAC;
}

div#curse-network ul li > a:after {
	content: " - ";
}

div#curse-network a {
	color: #6D6D6D;
}

div#curse-info a {
	color: #F58723;
	padding-right: 12px;
	text-transform: uppercase;
}